<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

 <body class="no-skin">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar" id="navbar">

            <div class="navbar-header hidden-xs">
                <a href="/opus" class="navbar-brand restart">
                OPUS
                </a><!-- /.brand -->
            </div><!-- /.navbar-header -->

            <ul class="nav navbar-nav main_site_tabs">

                <li class="active tab_display"><a href="#search">Search</a></li>

                <li>
                    <a href="#browse">
                        <span class = "text-nowrap">
                            Browse Results <span id = "result_count" class="badge badge-primary badge-xlg badge-success">0</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#collection"> 
                        <span class = "text-nowrap">
                            Selections <span id = "collection_count" class="badge badge-primary badge-xlg badge-success">0</span>
                        </span>
                    </a>
                </li>
                <li><a href="#detail">Detail</a></li>


            </ul>


        </div><!-- navbar-collapse -->

    </div><!--  navbar-container -->
</nav><!-- navbar -->

<div class="main-container" id="main-container">

    {% block content %}


    <div class="main-container-inner">

        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <!-- tabs -->
        {% include "tabs.html" %}

    </div><!--/.main-container-inner-->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>

    {% endblock %}


</div><!--/.main-container-->


{% include "footer.html" %}


</body>
</html>
