<div id = "" class = "col-md-6 pull-right">
    <div>

        <a class = "shadowbox" href = "{{ path }}{{ img.full }}" rel="shadowbox" target = "_blank">
            <img  id = "detail__{{ img.ring_obs_id }}" src = "{{ path }}{{ img.med }}">
        </a>

        <div>
            <p>
                {% if preview_guide_url %}

                    Read about <a href = "{{ preview_guide_url }}" target = "_blank">how to interpret {{ instrument_id }} preview images</a>

                {% endif %}
            </p>

        </div>
    </div>
</div>

<div class = "col-md-6"><!-- data col -->

    <div>

        <h1 class = "">Ring Observation Detail </h1>
        <p><b>Ring Observation ID: </b>{{ img.ring_obs_id}}</p>

        <h3> PDS Products: </h3>

        <div class = "">

                {% for product_type, files in file_list.items %}
                    <ul class = "list-inline">
                    {{ product_type }}:

            	    {% for f in files %}
            			<li><a href = "{{ f.link }}" target = "_blank">{{ f.ext }}</a> </li>
            		{% endfor %}
            </ul>
                {% endfor %}

        </div>

        <!-- div class = "col-md-4 collection_download_button">
            <a title = "download as tar archive" id = "create_zip_file" href = "zip/{{ img.ring_obs_id}}.json">
                <button type="button" class="btn btn-sm btn-success">
                    <b>Download All Products</b>
                </button>
            </a>
        </div -->


    </div>

    <div class = "">

        <h2>Rings Node Supplemental Products:</h2>

            <ul class = "list-inline">
                Preview Images (jpeg/png):
            	<li><a target = "_blank" href = "{{ path }}{{ img.full }}">Full Resolution</a></li>
        	   <li><a target = "_blank" href = "{{ path }}{{ img.med }}">Medium</a></li>
        	   <li><a target = "_blank" href = "{{ path }}{{ img.small }}">Small</a></li>
               <li><a target = "_blank" href = "{{ path }}{{ img.thumb }}">Thumb</a></li>

    </div>

    <div id = "cols_metadata" class = "">
        <span class = "spinner">&nbsp;</span>
    </div>

    <div class = "">
        <h3>All Metadata for this Observation:</h3>
        <div id = "all_metadata_{{ img.ring_obs_id }}">
            Loading <span class = "spinner">&nbsp;</span>
        </div>
    </div>

</div><!-- /data col -->


