<!-- basic scripts -->
<!--[if !IE]> -->

<!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script -->
<script src="{{ MEDIA_URL }}js/libs/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{{ MEDIA_URL }}js/ace_theme/js/jquery-1.10.2.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/jquery.mobile.custom.js"></script>

<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/bootstrap.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"</script>
<!-- script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/jquery-ui.js"></script -->
<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/jquery.colorbox.js"></script>

<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/jquery-ui.custom.js"></script>

<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/jquery.ui.touch-punch.js"></script>
<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/jquery.slimscroll.js"></script>

<!-- ace scripts -->
<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/ace.js"></script>
<script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/ace-elements.js"></script>

<script src="{{ MEDIA_URL }}js/libs/CustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


{% block scripts %}
<script src = "{{ MEDIA_URL }}js/libs/jquery-cookie/jquery.cookie.js" type="text/javascript" ></script>
<script src = "{{MEDIA_URL }}js/libs/StickyTableHeaders.js" type="text/javascript" ></script>

<script src = "{{ MEDIA_URL }}js/opus.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/menu.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/utils.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/collections.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/browse.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/detail.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/search.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/widgets.js" type="text/javascript"></script>
<script src = "{{ MEDIA_URL }}js/hash.js" type="text/javascript"></script>

{% endblock  %}

<div class = "end_of_page"><p>&nbsp;</p></div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">
        	OPUS is project of the <a href = "/">Planetary Rings Node</a> •
        	<a href = "/opus/about/">About</a> •
        	<a href = "/opus/about/">Datasets</a> •
        	<a href = "http://tools.pds-rings.seti.org/opus/api/">API</a> •
        	<a href = "http://ringsnodesearchtool.blogspot.com/">Blog</a> •
            <a href = "https://pds-rings.seti.org/cgi-bin/comment-form.pl?">Questions and Comments</a> •
        </p>

    </div>

</footer>
