<head>
    <meta charset="utf-8" />
    <title>OPUS - Data Search for Outer Planets NASA Mission Data - NASA PDS Rings Node</title>
    <meta name="description" content="OPUS - Outer Planets Data Search Tool - NASA PDS Rings Node" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->
    <!-- link href="{{ MEDIA_URL }}css/ace_theme/uncompressed/bootstrap.css" rel="stylesheet" / -->
    <!-- link href="{{ MEDIA_URL }}css/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">

    <!-- link rel="stylesheet" href="{{ MEDIA_URL }}css/libs/font-awesome.4.0.3.min.css" / -->



    <!-- ace styles -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/uncompressed/colorbox.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/uncompressed/ace-fonts.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/uncompressed/chosen.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/uncompressed/ace.css" />

    <!--link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/ace-skins.min.css" / -->
    <!--link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/uncompressed/ace-rtl.css" / -->

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/CustomScrollbar/jquery.mCustomScrollbar.css">

    <!-- opus custom -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/ace_theme/uncompressed/ace-ie.css" />
    <![endif]-->

    <!-- inline styles related to this page -->
    {% block page_styles %} {% endblock %}
    <style>
    {% block inline_styles %} {% endblock %}
    </style>

    <!-- ace settings handler -->
    <!-- script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/ace-extra.js"></script -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/html5shiv.js"></script>
    <script src="{{ MEDIA_URL }}js/ace_theme/uncompressed/respond.js"></script>
    <![endif]-->

    <!-- jquery plugins -->

 
    <script  type="text/javascript" >

        default_columns = '{{ default_columns }}';
        static_url = '{{ STATIC_URL }}';
        default_pages = {"gallery":1, "data":1, "colls_gallery":1, "colls_data":1 };
        reset_footer_clicks = {"gallery":0, "data":0, "colls_gallery":0, "colls_data":0 };
        reset_last_page_drawn = {"gallery":0, "data":0, "colls_gallery":0, "colls_data":0 };
        reset_browse_view_scrolls = {"gallery":0, "data":0, "colls_gallery":0, "colls_data":0 };
    </script>



</head>
