{% extends "mbase.html" %}

{% block mcontent %}  
              
	<div id = "detail">   
		<table>
		{% for f.slug in fields %}
			{{ detail.f.slug }}
		{% endfor %}
	    </table>		
	</div>
	
{% endblock %}
